server:
  port: 8080


spring:
  data:
    redis:
      host: 8.138.19.224
      port: 9379
      password: 1968zhss

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  application:
    name: openai-chat-bot
  ai:
    openai:
      base-url: https://dashscope.aliyuncs.com/compatible-mode
      api-key: sk-0ff8034547cc4716a2ac8dfd7618e897
      chat:
        options:
          model: qwen-vl-max

          temperature: 0.8

    vectorstore:
      redis:
        initialize-schema: true # 是否初始化所需的模式
        index-name: lee-vectorstore # 用于存储向量的索引名称
        prefix: 'lee:' # redis 键的前缀




logging:
  level:
    org.springframework.ai.chat.client.advisor: DEBUG
    com.example.javaai: DEBUG
#    com.example.javaai.config.CustomAiConfiguration: DEBUG
#    org.springframework.boot.autoconfigure: DEBUG
#    org.springframework.ai.autoconfigure: DEBUG
#    org.springframework.ai: DEBUG
#    org.springframework.context: DEBUG


